.theme1 {
  --background-body: #2b2b2b;
  --background-site: #141414;
  --background-texture: url(denim-medium.png);
  --background-brd: 2px solid #24211e;
  --background-brd2: 2px solid #817266;
  --text-light: #d8cbc1;
  --text-medium: #d3a595;
  --text-shd: 2px 2px 1px rgba(0, 0, 0, 0.4);
  --logo: #d8cbc1;
  --button-bkg: #3a485a;
  --button-bkg-hover: #18588d;
  --button-brd: #aa9482;
  --button-brd-hover: #ffefea;
  --button-shd: 3px 3px 5px rgba(0, 0, 0, 0.4);
  --highlight: #ffffff;
  --progress-bar-bkg: #4a4f58;
  --progress-bar: #3a9000;
  --card-txt-pl: #443930;
  --card-txt-ang: #c9c3bf;
  --card-txt-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  --card-pl-bkg: #948d89;
  --card-pl-brd: #574f4a;
  --card-ang-bkg: #504843;
  --card-ang-brd: rgb(153, 144, 135);
  --known-bkg: #0a416e;
  --known-brd: #5680a1;
  --unknown-bkg: #803025;
  --unknown-brd: #a34236;
  --word-pl: #2f491d;
  --word-ang: #74351e;
  --word-dash: #000000;
  --word-pl: #88b16d;
  --word-ang: #d66a6a;
  --word-dash: #c5c5c5;
}
.theme2 {
  --background-body: #666666;
  --background-site: #4d4d4d;
  --background-texture: url(denim-light.png);
  --background-brd: 2px solid #5c5c5c;
  --background-brd2: 2px solid #e6dccd;
  --text-light: #ffffff;
  --text-medium: #ffffff;
  --text-shd: 2px 2px 1px rgba(0, 0, 0, 0.1);
  --logo: #e9e9e9;
  --button-bkg: #3b5b68;
  --button-bkg-hover: #618c9e;
  --button-brd: #d1dce0;
  --button-brd-hover: #c5e0ec;
  --button-shd: 2px 2px 2px rgba(0, 0, 0, 0.25);
  --highlight: #ffffff;
  --progress-bar-bkg: #575757;
  --progress-bar: #bbbbbb;
  --card-txt-pl: #424242;
  --card-txt-ang: #d8d8d8;
  --card-txt-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  --card-pl-bkg: #aaa9a7;
  --card-pl-brd: #494744;
  --card-ang-bkg: #494744;
  --card-ang-brd: #b4aea4;
  --known-bkg: #4a6f7e;
  --known-brd: #8cafbe;
  --unknown-bkg: #883939;
  --unknown-brd: #cf6c6c;
  --word-pl: #ceffa8;
  --word-ang: #ffb69b;
  --word-dash: #ffffff;
}
.theme3 {
  --background-body: #141414;
  --background-site: #141414;
  --background-texture: url(denim-dark.png);
  --background-brd: 2px solid #412f27;
  --background-brd2: 2px solid #d55629;
  --text-light: #ffe2d8;
  --text-medium: #d3a595;
  --text-shd: 2px 2px 1px rgba(0, 0, 0, 0.4);
  --logo: #d55629;
  --button-bkg: #b53609;
  --button-bkg-hover: #c54619;
  --button-brd: #e47f5a;
  --button-brd-hover: #ffe2d8;
  --button-shd: 3px 3px 5px rgba(0, 0, 0, 0.644);
  --highlight: #ffffff;
  --progress-bar-bkg: #8c0000;
  --progress-bar: #3a9000;
  --card-txt-pl: #e7f5de;
  --card-txt-ang: #f7ddd4;
  --card-txt-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  --card-pl-bkg: #307900;
  --card-pl-brd: #71b95b;
  --card-ang-bkg: #b53609;
  --card-ang-brd: #e47f5a;
  --known-bkg: #3a9000;
  --known-brd: #87cf56;
  --unknown-bkg: #8c0000;
  --unknown-brd: #cc4b4b;
  --word-pl: #6ead41;
  --word-ang: #d64444;
  --word-dash: #e0c3b6;
}

body {
  background-color: var(--background-body);
  color: var(--text-light);
  font-size: 1.25rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-shadow: var(--text-shd);
  -webkit-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-thumb {
  background: var(--button-bkg);
  border: 1px solid var(--background-body);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--button-brd);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

hr {
  border: 1px solid var(--button-bkg);
}

#strona {
  position: relative;
  max-width: 62.5rem;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--background-site);
  background-image: var(--background-texture);
  border-left: var(--background-brd);
  border-right: var(--background-brd);
  margin: 0 auto;
}
/************************* LOGO **************************/
#logo {
  font-size: min(10vw, 45px);
  color: var(--logo);
  font-weight: 700;
  /* border-bottom: var(--background-brd2); */
  line-height: 160%;
  margin-bottom: 1.25rem;
  padding-bottom: 0.3rem;
}
#line {
  height: 2px;
  width: 80%;
  margin: -1rem auto 1rem auto;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    var(--button-brd),
    var(--text-light),
    var(--button-brd),
    rgba(255, 255, 255, 0)
  );
}
/************************* MENU GŁÓWNE **************************/
nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 2.25rem;
  max-width: 30rem;
  gap: 1.2rem;
  margin: 0 auto;
}
.wybor-liczby-container {
  display: flex;
  align-items: center;
}
.przyciskiPM {
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  width: 1rem;
  /* line-height: 160%; */
  /* width: 2.125rem; */
  /* height: 2.125rem; */
  /* border: 2px solid var(--button-brd); */
  /* border-radius: 50%; */
  /* transition: all 0.2s; */
  text-shadow: var(--button-shd);
}
.przyciskiPM:hover {
  /* border: 2px solid var(--button-brd-hover); */
  cursor: pointer;
  color: var(--button-brd-hover);
  scale: 130%;
  margin-bottom: 3px;
}
#divLiczbySlowek {
  transition: all 0.3s;
  width: 2.8rem;
}
#divLiczbySlowek:hover {
  cursor: pointer;
}
#formLiczba {
  width: 2.25rem;
  height: 2.25rem;
  background-color: rgba(0, 0, 0, 0);
  color: var(--text-light);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  outline: none;
  text-align: center;
  text-shadow: var(--button-shd);
}
#formLiczba:hover {
  cursor: pointer;
  color: var(--highlight);
}
#formLiczba:focus {
  border: 1px solid var(--text-light);
  border-radius: 0.5rem;
  background-color: var(--border-dark);
  color: var(--highlight);
}
#ang_pl,
#przyciskZestaw {
  display: flex;
  align-items: center;
  height: 1.6rem;
  color: var(--text-light);
  background-color: var(--button-bkg);
  border: 2px outset var(--button-brd);
  border-radius: 0.4rem;
  padding: 0 0.5rem;
  text-overflow: ellipsis;
  font-size: 1rem;
  box-shadow: var(--button-shd);
}
#max-btn {
  display: flex;
  align-items: center;
  height: 1.6rem;
  color: var(--text-light);
  background-color: var(--button-bkg);
  border: 2px outset var(--button-brd);
  border-radius: 0.4rem;
  padding: 0 0.2rem;
  font-size: 0.8rem;
  box-shadow: var(--button-shd);
}
#ang_pl:hover,
#przyciskZestaw:hover,
#max-btn:hover {
  background-color: var(--button-bkg-hover);
  border: 2px outset var(--button-brd-hover);
  cursor: pointer;
}
.switchContainer h2 {
  font-size: 0.6rem;
  letter-spacing: 0.2rem;
  line-height: 1.4;
  margin-top: 2px;
}
.switch {
  appearance: none;
  background-color: var(--button-bkg);
  border: 2px outset var(--button-brd);
  border-radius: 10rem;
  width: 3rem;
  padding: 0.19rem;
  box-shadow: var(--button-shd);
}
.switch::-webkit-slider-thumb {
  appearance: none;
  border-radius: 5px;
  width: 1rem;
  height: 0.6rem;
  background-color: var(--button-brd);
}
.switch::-webkit-slider-thumb:hover {
  background-color: var(--button-brd-hover);
  cursor: pointer;
}
#opis-btn {
  opacity: 0.5;
  /* position: absolute; */
  height: 1.6rem;
  display: flex;
  align-items: center;
  right: 1rem;
  top: 3rem;
  font-size: 0.7rem;
  color: var(--text-light);
  background-color: var(--button-bkg);
  border: 2px outset var(--button-brd);
  border-radius: 0.4rem;
  padding: 0.1rem 0.3rem;
  text-overflow: ellipsis;
  box-shadow: var(--button-shd);
}
#opis-btn:hover {
  background-color: var(--button-bkg-hover);
  border: 2px outset var(--button-brd-hover);
  cursor: pointer;
  opacity: 1;
}
/************************* MENU ZESTAWY **************************/
#zestawyLista {
  border-top: var(--background-brd2);
  border-bottom: var(--background-brd2);
  position: relative;
  max-width: 19rem;
  margin: 5.1vh auto;
  /* max-height: 20vh; */
  max-height: 50vh;
  overflow: auto;
}

#zestawSlowka {
  position: relative;
  border-top: var(--background-brd2);
  border-bottom: var(--background-brd2);
  background-color: var(--background-body);
  margin: 3vh auto;
  max-width: 17.5rem;
  /* max-height: 33vh; */
  max-height: 52vh;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  padding: 0.6rem 1.2rem;
  padding-top: 0;
  line-height: 150%;
  overflow: auto;
  -webkit-user-select: text;
  user-select: text;
}
#wybranyZestaw {
  display: inline-block;
  color: var(--text-medium);
  background: var(--background-body);
  font-size: 1rem;
  margin: 2vh auto 2vh auto;
  /* border-bottom: var(--border-dark); */
  border: 1px dashed var(--button-brd);
  padding: 3px 10px;
}
.zestaw {
  position: relative;
  width: 15.5rem;
  height: 40px;
  border: 1px solid var(--text-medium);
  background-color: var(--button-bkg);
  border-radius: 10px;
  padding: 5px;
  margin: 0.6rem;
  line-height: 125%;
}
.zestaw:hover {
  color: var(--highlight);
  cursor: pointer;
  box-shadow: 0px 0px 0.6rem var(--button-brd);
}
#liczbaSlowek {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--text-medium);
  background-color: var(--button-bkg);
  text-align: center;
}
div[title="zapisane słówka"] .zestaw {
  background-color: var(--unknown-bkg);
}
/************************* LOSOWANIE **************************/
#losowanie {
  height: 2.5rem;
  width: 12.5rem;
  font-size: 1.63rem;
  color: var(--text-light);
  line-height: 135%;
  background-color: var(--button-bkg);
  border: 2px outset var(--button-brd);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.2s;
  box-shadow: var(--button-shd);
}
#losowanie:hover {
  background-color: var(--button-bkg-hover);
  border: 2px outset var(--button-brd-hover);
  cursor: pointer;
  scale: 107%;
}

/************************* PLANSZA **************************/
#plansza {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  max-width: 22rem;
  height: auto;
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  perspective: 31rem;
}
#pasek_postepu {
  position: relative;
  height: 0.9rem;
  width: 22rem;
  background-color: var(--progress-bar-bkg);
  box-shadow: var(--button-shd);
}
#pasek {
  height: 0.9rem;
  width: 0%;
  background-color: var(--progress-bar);
  transition: all 0.5s;
}
#pasekTekst {
  position: absolute;
  top: 0;
  font-size: 1rem;
  line-height: 110%;
  scale: 0.6;
  letter-spacing: 0.75rem;
  height: 0.9rem;
  width: 22rem;
}
.karta {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  font-weight: 700;
  width: 22rem;
  height: 9.3rem;
  padding: 0 1.5rem;
  color: var(--card-txt-pl);
  text-shadow: var(--card-txt-shadow);
  background-color: var(--card-pl-bkg);
  background-image: url(fabric10.png);
  border: 4px solid var(--card-pl-brd);
  border-radius: 1.25rem;
  line-height: 120%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.karta:hover {
  cursor: pointer;
}
.karta_anim {
  animation-name: cardRotate;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@keyframes cardRotate {
  0% {
    filter: brightness(100%);
    transform: rotateX(0deg);
  }
  50% {
    filter: brightness(80%);
    transform: rotateX(-90deg);
    text-orientation: sideways;
  }
  51% {
    filter: brightness(80%);
    transform: rotateX(90deg);
    text-orientation: sideways;
  }
  100% {
    filter: brightness(100%);
    transform: rotateX(0deg);
  }
}

/*********************** POD KARTĄ ************************/
#pod_karta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  max-width: 22rem;
}
#cofnij {
  height: 2.2rem;
  width: 2.2rem;
  line-height: 150%;
  border: 2px dotted var(--unknown-brd);
  border-radius: 50%;
  transition: all 0.2s;
  text-shadow: var(--text-shd);
}
#znam,
#nie_znam {
  height: 40px;
  width: 130px;
  background-color: var(--known-bkg);
  line-height: 170%;
  border: 2px solid var(--known-brd);
  border-radius: 20px;
  transition: all 0.2s;
  padding-right: 0.5rem;
  box-shadow: var(--button-shd);
}
.przyciski_karty {
  opacity: 0.5;
}
#nie_znam {
  background-color: var(--unknown-bkg);
  border: 2px solid var(--unknown-brd);
}
#nie_znam:hover {
  background-color: var(--unknown-bkg);
  border: 2px solid var(--highlight);
  cursor: pointer;
}
#znam:hover {
  background-color: var(--known-bkg);
  border: 2px solid var(--highlight);
  cursor: pointer;
}
#cofnij:hover {
  border: 2px solid var(--highlight);
  cursor: pointer;
}
#opis-slowka {
  position: relative;
  display: none;
  max-width: 22rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 1.5rem;
}
#opis-slowka h2 {
  height: 1rem;
  background-color: var(--button-bkg);
  font-size: 0.625rem;
  line-height: 125%;
  letter-spacing: 0.3rem;
}
#opis {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 0.8rem;
  padding: 0.75rem;
  /* background-image: url(fabric10.png); */
  background-color: var(--background-body);
  border: 3px solid var(--button-bkg);
  line-height: 140%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  -webkit-user-select: text;
  user-select: text;
}
#opis b {
  color: var(--known-brd);
}
#audio-btn {
  display: none;
  position: absolute;
  top: 0rem;
  right: 0rem;
  padding-left: 2px;
  font-size: 2.5rem;
  background-color: var(--button-bkg);
  height: 2rem;
  width: 2rem;
  border: 1px solid var(--button-brd);
  border-radius: 0 0 0 0.8rem;
  line-height: 0.75;
}
#audio-btn:hover {
  background-color: var(--button-bkg-hover);
  border: 1px solid var(--button-brd-hover);
  cursor: pointer;
}
/* #example,
#meaning,
#synonyms {
  font-weight: bold;
  color: #0a416e;
} */
#example:hover,
#meaning:hover,
#synonym:hover {
  cursor: pointer;
  /* background-color: var(--background-body); */
  text-decoration: underline;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
/************************* PODSUMOWANIE **************************/
#podsumowanie {
  width: 22rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
}
#top {
  height: 2.5rem;
  max-width: 22rem;
  margin-top: 3vh;
  color: var(--logo);
  border-bottom: 2px solid var(--button-brd);
}
#licznikZnam {
  height: 2.5rem;
  max-width: 22rem;
  color: var(--logo);
  border-top: 2px solid var(--button-brd);
}
#lista {
  background-color: var(--background-body);
  max-width: 22rem;
  max-height: 45vh;
  font-size: 1rem;
  text-align: left;
  padding: 0.6rem 1.2rem;
  line-height: 150%;
  overflow: auto;
  -webkit-user-select: text;
  user-select: text;
}
#baza_slowek {
  display: none;
}

/************************* FOOTER **************************/
footer {
  position: sticky;
  top: 100%;
  width: 100%;
  text-align: center;
  /* height: 2.4rem; */
  border-top: 1px solid var(--button-brd);
  border-bottom: 1px solid var(--button-brd);
  background-color: var(--button-bkg);
  line-height: 1.6;
}

/************************** MEDIA QUERY **********************************/
@media screen and (min-width: 800px) {
  #zestawyLista {
    position: absolute;
    margin: 0;
    left: 10px;
    top: 9.5rem;
    min-height: 75vh;
  }
  #zestawSlowka {
    position: absolute;
    margin: 0;
    right: 10px;
    top: 9.5rem;
    width: 18.75rem;
    max-height: 75vh;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 470px) {
  nav {
    gap: 0.5rem;
  }
}
@media screen and (max-width: 420px) {
  nav {
    /* font-size: 1.1rem; */
    line-height: 150%;
    max-width: 100%;
    gap: 1rem;
  }
  #opis-btn {
    position: absolute;
    max-width: fit-content;
    top: 3.2rem;
    left: 1.2rem;
  }
  .switchContainer {
    position: absolute;
    top: 2.8rem;
    right: 1rem;
  }
  #ang_pl,
  #przyciskZestaw,
  #max-btn {
    padding: 3px;
    font-size: 1rem;
  }
  #max-btn {
    margin-left: 0.4rem;
    font-size: 0.7rem;
  }
  #ang_pl {
    line-height: 1;
  }
  #losowanie {
    height: 1.95rem;
    width: 9rem;
    font-size: 1.1rem;
    line-height: 150%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
}
@media screen and (max-width: 400px) {
  .karta {
    font-size: 1.7rem;
    width: 18rem;
    height: 7.5rem;
  }
  /* #pasek_postepu,
  #pasekTekst,
  #lista,
  #top {
    width: 18rem;
  } */
  /* #ang_pl,
  #przyciskZestaw {
    font-size: 0.7rem;
  } */
  nav {
    /* font-size: 0.6rem; */
    /* font-weight: 700; */
    gap: 0.6rem;
  }
  #formLiczba {
    font-size: 1.2rem;
  }
  /* #max-btn {
    font-size: 0.7rem;
  } */
}
@media screen and (max-width: 370px) {
  #wybranyZestaw {
    font-size: 0.8rem;
  }
  #opis-btn {
    top: 3.1rem;
  }
  .switchContainer {
    top: 2.6rem;
  }
}
@media screen and (max-width: 350px) {
  .karta {
    font-size: 2rem;
    width: 16rem;
    height: 8rem;
  }
  #pasek_postepu,
  #pasekTekst,
  #lista,
  #top {
    width: 16rem;
  }
  #pod_karta {
    max-width: 18rem;
  }

  #nie_znam {
    font-size: 16px;
    height: 32px;
    width: 110px;
    line-height: 160%;
  }

  #znam {
    font-size: 18px;
    height: 30px;
    width: 90px;
    padding-right: 10px;
    background-color: var(--known-bkg);
    line-height: 130%;
    margin-right: 5px;
  }
  #cofnij {
    height: 30px;
    width: 30px;
    margin-right: 3px;
    margin-top: 0;
    line-height: 125%;
  }
  #podsumowanie,
  #top {
    max-width: 16rem;
  }
}

@media screen and (max-width: 320px) {
  #wybranyZestaw {
    font-size: 0.7rem;
  }
  #ang_pl,
  #przyciskZestaw {
    font-size: 0.7rem;
  }
  #opis-btn {
    top: 3.02rem;
  }
  .switchContainer {
    top: 2.5rem;
  }
}
@media screen and (max-width: 300px) {
  #wybranyZestaw {
    font-size: 0.6rem;
  }
}
